<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestApp</title>
</head>
<body>
    <navbar>

    </navbar>
    <section>
        <h1></h1>
        <table>
            <th>
                <td></td>
            </th>
            <!--El resto se llena dependiendo de los usuarios en la tabla.
            Se utilizará Jinja-->
        </table>
    </section>
</body>
</html>