<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration courses</title>
</head>
<body>
    <h1>Student profile</h1>
    <p>Full Name: </p>

    <section>
        <h2>Enrolled courses: </h2>
        <table>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>N° enrolled students</th>
            </tr>
            <!--El resto de la tabla se llena con jinja-->
        </table>
    </section>

    <section>
        <h2>Available courses</h2>
        <table>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>N° enrolled students</th>
                <th>Enroll</th>
            </tr>
        </table>
        <!--El resto de la tabla se llena con jinja-->
    </section>
</body>
</html>